<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="de.footballclashers.dao.interfaces.fbc.UserMapperBasicDAO">

	<select id="insert" parameterType="de.footballclashers.dao.model.fbc.Users">
		insert into users (name,email,password,social_id)
		values ( #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{social_id,jdbcType=VARCHAR})
	</select>
	
	<select id="update" parameterType="de.footballclashers.dao.model.fbc.Users">
		UPDATE users
	        SET
	        password = #{password,jdbcType=VARCHAR}
	        where email = #{email,jdbcType=VARCHAR}
	</select>
	
		    <resultMap id="result" type="de.footballclashers.dao.model.fbc.Users">
	        <result property="id" column="id"/>
	        <result property="name" column="name"/>
	        <result property="email" column="email"/>
	        <result property="password" column="password"/>
	        <result property="social_id" column="social_id"/>
	        <result property="avatarImage" column="avatarImage"/>
	        <result property="points" column="points"/>
	        </resultMap>
	 
	    <select id="getAllUser" parameterType="de.footballclashers.dao.model.fbc.Users" resultMap="result">
	        SELECT id,name,email,password,social_id,avatarImage,points FROM users;
	    </select>
	    
	    <select id="getUserByEmail" parameterType="de.footballclashers.dao.model.fbc.Users" resultMap="result">
	        SELECT id,name,email,password,social_id,avatarImage,points FROM users where email = #{email,jdbcType=VARCHAR};
	    </select>
	    
	    <select id="getAllUserByName" parameterType="de.footballclashers.dao.model.fbc.Users" resultMap="result">
	        SELECT id,name,email,password,social_id,avatarImage,points FROM users where name = #{name,jdbcType=VARCHAR};
	    </select>

		<select id="getAllInvitations" parameterType="Integer" resultType="de.footballclashers.beans.UserGroupDetailsBean">
	        select u.id as id,u.name as name ,ug.id as group_id,ug.name as group_name from invitation i join user_group ug on i.user_group_id = ug.id
join users u on u.id = ug.createdBy where i.user_id=#{user_id}
	    </select>
	    
	    
</mapper>